$font-stack: "Proxima Nova";

$grey-1: #ccc;
$grey-2: #eee;
$grey-3: #666;

$white: white;
$green: #57B257;

// Overwrite Bootstrap

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
}

p, div {
    font-family: $font-stack;
}

p {
    margin: 0;
    padding: 0;
}

.onboarding {
    .form-group input {
        font-size: 25px;
    }
}

.form-group input {
    border-radius: 0;
}

.form-group input:focus {
    border-color: $grey-1;
    box-shadow: none;
}

.auth.form-horizontal {
    padding-left: 40px;
    padding-right: 40px;
}

.btn {
    border-radius: 0;
    font-size: 18px;
}

a, a:hover {
    text-decoration: none;
    color: $green;
}

// Spacing classes

$xs-space: 8px;
$md-space: 16px;
$lg-space: 32px;

.bumperTop-md {
    margin-top: $md-space;
}

.bumperTop-lg {
    margin-top: $lg-space;
}


// APP

.logo {
    height: 70px;
    margin: 30px 0 30px 0px;
}

.auth .swap {
    margin-top: $md-space;
}

.onboarding {

    .form-group input {
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none;
        margin-left: $md-space;
        padding: 0;
        text-align: center;
    }

    .twoDigit {
        width: 45px;
    }
    .fourDigit {
        width: 65px;
    }
    .sevenDigit {
        width: 80px;
    }

    .dollar {
        font-size: 25px;
        padding: 0;
        border: none;
        background-color: $white;
    }

    .form-group input.capital {
        margin-left: 5px;
        text-align: left;
        width: 100px;
    }

}

.logo-dashboard {
    height: 70px;
    margin-top: 10px;
    margin-left: 22px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.section-title {
    padding-top: $lg-space;
    font-size: 25px;
    font-weight: bold;
}

.section-subitle {
    font-size: 16px;
    color: $grey-3;
    padding-top: 5px;
}


.sector-card {
    height: 200px;
    width: 300px;
    margin-top: 30px;
    border: 1px solid #ddd;

    .header {
        border-bottom: 1px solid #ddd;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        background-color: #eee;

        span {
            position: relative;
            top: 3px;
        }
    }

    .info-section {
        padding-left: 30px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
    }
}

.sector-card:hover {
    cursor: pointer;
    border: 1px solid #ccc;
}